.first-cta{

	text-align: center;
	padding: 120px 20px 90px 20px;
	background: url(https://via.placeholder.com/1200x300);


	&__container{
	
		@include container();

		&__title{

			font-size: 48px;
			margin-bottom: 10px;

			@media ( max-width: 640px )  {
				font-size: 24px;		
			}		
		}

		&__text{
			margin-bottom: 5px;
		}
		&__action{
			
		}
	}
}