$grid-gap: 0px;
 

.full-grid{


	margin-top: 0px;
	text-align: center;



	@media(max-width: 800px){
		margin-top: 140px;	
	}

	&__title{
		padding-bottom: 20px;
		font-weight: lighter;
		text-transform: uppercase;
	}
	&__container{
		//@include container();

		display:grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;

	

		gap: $grid-gap;


		.full-grid__item{

			height: 180px;
			max-height: 180px;
			
			overflow: hidden;
			display: flex;
			align-items:center;

			img{
				height: 100%;
				justify-self: center;
				transition : all 0.2s;
			}
			img:hover{
				height: 120%;
				width: 120%;
			}
		}


		@media (min-width: 761px) {
 		}
		@media (max-width: 760px) {
			grid-template-columns: 1fr 1fr ;			
		}
		@media (max-width: 360px) {
			 grid-template-columns: 1fr ;
		}
		
	}
}