*{
	margin: 0;
	padding:0;
	box-sizing:border-box;
}

body{
	font-family: Popins , Arial;
}

img{
	width: 100%;
	display: block;
}
.btn{
	border: 2px solid $bg_form;
    padding: 10px 15px;
    margin: 10px 0 10px 0;
    font-weight: bolder;
    text-transform: uppercase;
    background: transparent;
    &:hover{
    	border-color: #a6c4ff;
    	color:#a6c4ff;
    }
}

.img-center{
	background-position: center !important;
}

@mixin container(){
	max-width: $max-container-width;
	margin: 0 auto;
}