

.hero{
	height: 100vh;
	padding: 30vh 60px 120px 60px;
	
	background: url(https://via.placeholder.com/1280x600);
	max-height: 780px;


	.hero__wrapper
	{
		margin: auto auto 10px auto;
		max-width: $max-container-width;


	}

	.hero__content{
    	width: 40%;
    	
    	@media( max-width: 720px ){
    		width: 100%;
    	}


    	h2{
    		font-size: 48px;
		    line-height: 1.5;
		    text-transform: uppercase;
		    letter-spacing: 2px;
    	}

    	
	}
}