

.hero{
	
	padding: 0vh 60px 0px 60px;
	
	//background: url(https://via.placeholder.com/1280x600);
	max-height: 780px;

 
		@media( max-width: 480px ){
    		padding: 0vh 20px ;
    	}

	.hero__wrapper
	{
		margin: auto auto 10px auto;
		max-width: $max-container-width;
		display: flex;

		@media( max-width: 640px){
			flex-direction: column;
			align-items:center;
			text-align: center;
		}
		
		
		.hero__content{
	    	width: 40%;
	    	
	    	@media( max-width: 480px ){
	    		width: 100%;

	    		.btn{
	    			margin-top: 60px;
	    		}
	    	}



	    	h2{
	    		font-size: 48px;
			    line-height: 1.5;
			    text-transform: uppercase;
			    letter-spacing: 2px;

			    @media(max-width: 479px){

			    	font-size: 24px;
			    	padding-top: 40px;
			    }
			    @media( min-width: 480px){
			    	padding-top: 20%;
			    	font-size: 30px;
			    	line-height: 1.2em;
			    }
			    @media( min-width: 800px){
			   		 padding-top: 40%;
			   		 font-size: 30px;	
			    }
			    
	    	}

	    	
		}

		.hero__img{
		    width: 62%;
		    height: 100%;
		    overflow-y: hidden;
		    margin-right: -40px;


			img{
				padding-top: 20px;
			}

			@media( max-width: 480px ){
	    		width: 100%;
	    	}

		}

	}

	
}