@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');


$pr_color:     #5cebff;
$sec_color: #333;
$bg_color: #85144b;
$bg_form: #4043bf;
$over-color: #2c00dc6b; 

$max-container-width: 920px;

*{
	margin: 0;
	padding:0
	box-sizing:border-box;
}