@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');


$pr_color:     #333;
$sec_color: #333;
$bg_color: #85144b;
$bg_form: #4043bf;
$over-color: #2cdc6b; 

$max-container-width: 920px;






@import "./_global";
@import "./_main-nav.scss";
@import "hero";
@import "./_grid-container.scss";
@import "tricard";
@import "first-cta";
@import "full-grid";
@import "product";
@import "popup";
@import "footer";
@import "ornaments";


@import "color";