
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  width:100%;
  max-width: 150px;
  margin: 10px;
  object-fit: cover;
}
ul{
  padding-left: 0;
}
.float-left{
  float: left !important;
}

.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
ul{
  list-style: none;
}
input,textarea,button{
  display:block;
  padding: 5px;
  border: 1px solid var(--primary);
  margin:5px;
}
.container{
  max-width: 660px;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
}
.d-flex{
  display:flex;
}
.titulo{
    text-align: center;
    padding: 30px 0 20px 0;
    color: var(--primary);
}
button{
  background: var(--primary);
  color:white;
  border: currentColor;
  display: inline-block;

}
button[disabled]{
  opacity: 0.3;
}
a{
  color: var(--secondary);
  margin-right: 5px;
  display: inline-block;
 
}
.titulo a{
  text-decoration:none;
}
a:hover{
  color: var(--secondary) !important;
}
label{
  color: #6c3779;
}
@import "./styles/_navbar.component.scss";
@import "./pages/admin/Admin.style.scss";
@import "./styles/colors.scss"