
.navbar{
    display:flex;
    padding: 5px;
    color:white;
    background: var(--primary-bg);
    ul{
        display: flex;
        margin: 0;
        li{
            
            a{
                display:inline-block;
                padding: 0px 5px;
                color: var(--primary-cl);
                text-decoration:none;
            }
        }
    }
}