
.navbar{
    display:flex;
    padding: 5px;
    color:white;
    background: var(--primary);
    
    ul{
        display: flex;
        margin: 0;
        li{
            
            a{
                display:inline-block;
                padding: 5px 5px;
                color: var(--primary-overlay);
                text-decoration:none;
                background: var(--primary);
            }
        }
    }
}